@import 'swiper-cus.scss';
@import 'login.scss';

body{
    // height: 100vh;
}

#root {
    // height: 100%;
}

.App {
    // height: 100%;
}

.app-container {
    display: flex;
    flex-direction: column;
    //background-color: pink;
    min-height: 100vh;
    text-align: left;
    //min-height: 100vh;
}

.main {
    //background-color: gray;
    flex: 1;
    position: relative;
    //min-height: calc(100vh - 56px - 168px);
}

.footer {
    background-color: green;
    text-align: center;
    border-top: #282c34 solid 2px;
    //position: relative;
}

.index-head{
    background-color: gray;
    min-height: 100%;
}

.contents{
    padding: 10px;
}